*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/output-metadata.json
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
output-metadata.json
/app/schemas/com.example.khughes.machewidget.CarStatusDatabase/1.json
/app/schemas/com.example.khughes.machewidget.db.CarStatusDatabase/1.json
/app/schemas/com.example.khughes.machewidget.db.OTAStatusDatabase/1.json
/app/schemas/com.example.khughes.machewidget.db.UserInfoDatabase/1.json
/app/schemas/com.example.khughes.machewidget.db.VehicleInfoDatabase/1.json
/app/schemas/com.example.khughes.machewidget.OTAStatusDatabase/1.json
/app/playstore/production/app-playstore-production.aab
/app/schemas/com.example.khughes.machewidget.db.VehicleInfoDatabase/2.json
/.idea/gradle.xml
/app/schemas/com.example.khughes.machewidget.db.VehicleInfoDatabase/3.json
