# content of .gitignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/output-metadata.json
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml.DS_Store
/build
/captures
.externalNativeBuild    
.cxx
output-metadata.json
/playstore/release/app-playstore-release.apk
/schemas/com.example.khughes.machewidget.db.UserInfoDatabase/2.json
/schemas/com.example.khughes.machewidget.db.UserInfoDatabase/3.json
